<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".MvpApp"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher_biq"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_biq_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MvpApp.Starting">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="DEFAULT_NOTIFICATION_CHANNEL_ID" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/launcher_icon_background" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <activity
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Custom Scheme Deep Link (razumly://mvp) -->
            <intent-filter android:label="@string/app_deep_links">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="razumly"
                    android:host="mvp" />
            </intent-filter>

            <intent-filter android:label="@string/app_deep_links" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="bracket-iq.com"
                    android:pathPrefix="/" />
                <data
                    android:scheme="http"
                    android:host="bracket-iq.com"
                    android:pathPrefix="/" />
            </intent-filter>

            <intent-filter android:label="@string/app_deep_links" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="www.bracket-iq.com"
                    android:pathPrefix="/" />
                <data
                    android:scheme="http"
                    android:host="www.bracket-iq.com"
                    android:pathPrefix="/" />
            </intent-filter>
        </activity>
    </application>
</manifest>
