*.iml
.kotlin
.gradle*
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/secrets.properties
/iosApp/iosApp/Secrets.plist
/codealike.json
composeApp/schemas/*
!composeApp/schemas/com.razumly.mvp.core.db.MVPDatabaseService/
!composeApp/schemas/com.razumly.mvp.core.db.MVPDatabaseService/*.json
composeApp/debug/
composeApp/release/
composeApp/google-services.json
buildServer.json
.compile
output/
